body
    min-width: 1220px;
.col-xs-9,
.col-xs-3,
.col-lg-8,
.col-lg-4
    padding: 0
.container-fluid
    padding: 0

.h_head
    content: " "
    min-width: 100%;
    height: 3px
    width: 100%;
    background-image: url(../img/h_head.png)
    background-size: cover
.row
    margin: 0
    position: relative
    .logo-footer
        position: absolute
        bottom: 0
        left: 76.5%
        padding-top: 35px
        padding-bottom: 35px
.left-menu
    .logo
        padding-top: 35px
        padding-right: 30px
        padding-bottom: 35px
    .nav-left
        ul
            list-style: none
            margin: 0
            padding: 0
            li
                padding-top: 20px
                padding-bottom: 20px
                padding-right: 25px
                border-bottom: 1px solid #f1f1f1
                font-size: 0
                span
                    width: 30px
                    margin-right: 15px
                    display: inline-block
                    vertical-align: middle
                &:first-of-type
                    border-top: 1px solid #f1f1f1
                a
                    width: 165px
                    font-size: 16px
                    display: inline-block
                    vertical-align: middle
                    text-decoration: underline
                    font-family: "Futura PT Medium"
                    color: #201f7b !important
                    &:hover,
                    &:focus,
                    &:active
                        text-decoration: none
.content
    .header
        background-color: #202629
        font-size: 0
        ul
            max-width: 950px
            li
                vertical-align: middle
                text-align: center
                a
                    white-space: nowrap;
                p
                    white-space: nowrap;
                .head-a
                    color: #ffffff
                    font-family: "Futura PT Demi"
                    font-size: 16px
                    text-transform: uppercase
                    &:hover,
                    &:focus,
                    &:active
                        background: none
                        color: #ffffff
                .download-price
                    display: inline-block
                    padding: 15px 35px
                    border-radius: 35px
                    font-family: "Futura PT Heavy"
                    font-size: 14px
                    color: #000000
                    text-transform: uppercase
                    background-color: #dce300
                    border-bottom: 4px solid #a68900 !important
                    span
                        display: inline-block
                        &:last-of-type
                            margin-left: 4px
                            vertical-align: middle
                        img
                            display: inline-block
                            vertical-align: middle
                    &:hover,
                    &:focus,
                    &:active
                        background-color: #dce300
                        text-decoration: none
                        color: #ffffff
                    &:active
                        border: none !important
                .head-contact
                    display: inline-block
                    padding-top: 15px
                    padding-bottom: 15px
                    .head-p
                        text-align: left
                        .head-tel
                            display: inline-block
                            margin-left: 40px
                            color: #ffffff
                            font-family: "Futura PT Medium"
                            font-size: 30px
                            line-height: 1
                        span
                            color: #ffffff
                            font-family: "Roboto"
                            font-size: 14px
                            &:first-of-type
                                width: 50px
                                margin-right: 4px
                                color: #565b5e
                        a
                            color: #dce300
                            font-family: "Roboto"
                            font-size: 14px
                            display: inline-block
    .slide
        padding-bottom: 100px
        background-image: url(../img/bg1.jpg)
        background-size: cover
        .title
            padding-top: 100px
            padding-bottom: 60px
            h1
                font-family: "Futura PT Demi"
                font-size: 42px
                margin: 0
                color: #202629
            h2
                font-family: "Futura PT Book"
                font-size: 30px
                margin: 0
                color: #202629
        .sub-title
            p
                font-family: "Roboto"
                font-size: 18px
                color: #5a544c
                margin: 0 0 0 90px
    .about-us
        padding-top: 65px
        padding-bottom: 40px
        background-color: #f2f6fb
        h3
            font-family: "Futura PT Demi"
            font-size: 30px
            padding-left: 20px
            margin: 0 0 25px 0
            color: #5b626a
        p
            font-family: "Roboto"
            font-size: 14px
            padding-left: 20px
            color: #202629
            margin-bottom: 30px
        .visit
            padding-top: 50px
            div
                height: 140px
                margin-bottom: 20px
                img
                    margin-bottom: 15px
                    text-align: center
            p
                font-family: "Roboto"
                font-size: 14px
                margin-left: 34px
                text-decoration: underline
            .visit-1
                p
                    color: #2b2781
            .visit-2
                p
                    color: #3da31a
            .visit-3
                p
                    color: #e11116
    .preim
        padding-bottom: 60px
        background-color: #f2f6fb
        h3
            font-family: "Futura PT Demi"
            font-size: 30px
            padding-left: 35px
            margin: 0 0 45px 0
            color: #5b626a
        .col-xs-3
            img
                margin-bottom: 15px
                text-align: center
            p
                width: 160px
                margin: 0 auto
                font-family: "Roboto"
                font-size: 14px
                color: #5b626a

.contact-us
    padding-top: 40px
    padding-bottom: 40px
    background-color: #f2f6fb
    h1
        font-family: "Futura PT Book"
        margin-bottom: 80px
        font-size: 48px
        color: #5b626a
        margin-top: 0px
        text-transform: uppercase
    .contcat-p
        padding: 0 50px
        margin-bottom: 20px
        img
            margin-right: 4px
            vertical-align: middle
            display: inline-block
        .label
            font-family: "Roboto"
            font-weight: 500
            color: #636e7c
            vertical-align: middle
            font-size: 16px
            display: inline-block
        span
            font-family: "Futura PT Medium"
            color: #202629
            font-size: 16px
            vertical-align: middle
            display: inline-block
    h3
        font-family: "Futura PT Demi"
        font-size: 30px
        padding: 0 50px 25px
        color: #5b626a
    form
        width: 400px
        margin: 0 auto;
        background-color: #f9fbfd
        padding: 30px 40px
        text-align: center
        input,
        textarea
            resize: none
            width: 100%
            margin-bottom: 10px
            display: inline-block
            background-color: #ffffff
            border: 1px solid #cccccc
            border-radius: 25px
            padding: 15px 20px
            font-family: "Futura PT Book"
            font-size: 18px
            color: #636e7c
        button
            display: inline-block
            padding: 15px 35px
            border: none
            border-radius: 35px
            font-family: "Futura PT Heavy"
            font-size: 14px
            color: #000000
            text-transform: uppercase
            outline: none
            background-color: #dce300
            border-bottom: 4px solid #a68900 !important
            span
                display: inline-block
                &:last-of-type
                    margin-left: 4px
                    vertical-align: middle
                img
                    display: inline-block
                    vertical-align: middle
            &:hover,
            &:focus,
            &:active
                background-color: #dce300
                border: none
                color: #ffffff
            &:active
                border: none !important

.prices
    padding-top: 40px
    padding-bottom: 40px
    background-color: #f2f6fb
    h1
        font-family: "Futura PT Book"
        margin-bottom: 20px
        font-size: 48px
        color: #5b626a
        text-transform: uppercase
    h3
        font-family: "Futura PT Demi"
        font-size: 30px
        padding: 0 0 25px
        color: #5b626a
    .row-tables
        padding: 0 50px
    thead
        tr
            background-color: #e6f0fd
            th
                text-align: center
                border-right: 1px solid #fff
                border-right: 1px solid #fff
                font-family: "Roboto"
                border-color: #fff
                font-weight: 500
                color: #636e7c
                &:first-of-type
                    text-align: left !important
    .table-striped > tbody > tr:nth-of-type(odd)
        background-color: transparent
        &:hover
            background-color: #eceeb9
    .table-striped > tbody > tr:nth-of-type(even)
        background-color: #e6f0fd
        &:hover
            background-color: #eceeb9

    table
        tr
            &:hover
                background-color: #eceeb9
            td
                border-right: 1px solid #fff
                border-right: 1px solid #fff
                border-color: #fff
                font-family: "Roboto"
                font-weight: 500
                color: #636e7c
                &:first-of-type
                    text-align: left !important
                &:hover
                    background-color: #f7f9ac

.max-content
    max-width: 950px
    
.promo
    background-color: #f2f6fb;
    padding: 20px 0 0 0;
    
.rizo-title
    background-color: #f2f6fb;
    margin: 0 auto;
    padding: 20px 0 30px 10px;

.rizo-slide
    img
        width: 100%
        display: block;
        
.rizo-content
    color: #636e7c;
    font-size: 16px;
    margin: 0 auto;
    min-height: 300px;    
    padding: 0 25px;
    p
        width: 100%;
        vertical-align: top;
        display: inline-block;
    
    span
        display: block;
        text-align: justify;
        